<div class="tweet-actions">
  <div class="action-item comment-action"
       (authOnlyClick)="triggerReplyCommentAction(); $event.stopPropagation()">
    <mat-icon class="action-icon">chat_bubble_outline</mat-icon>
    <div class="count"
         *ngIf="tweet?.commentsCount > 0">
      {{tweet?.commentsCount}}
    </div>
  </div>
  <div class="action-item like-action"
       [ngClass]="{liked: tweet?.liked}"
       (authOnlyClick)="toggleLikeAction(); $event.stopPropagation()">
    <mat-icon class="action-icon" *ngIf="!tweet?.liked">favorite_border</mat-icon>
    <mat-icon class="action-icon" *ngIf="tweet?.liked">favorite</mat-icon>
    <div class="count"
         *ngIf="tweet?.likesCount > 0">
      {{tweet?.likesCount}}
    </div>
  </div>
</div>
