@import "../../../styles/colors";

.app-nav-bar {
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  .mat-tab-link {
    opacity: 1;
  }

  .twitter-logo {
    color: $defaultTwitterColor;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;

    margin: auto;

    & > * {
      display: flex;
      align-items: center;
    }
    .center {
      position: absolute;
      margin-left: 50%;
      left: -(160px/2);
    }

    .search-user {
      margin-right: 10px;
    }

    .app-tab-link {
      color: $secondaryTextColor;
      font-weight: bolder;

      .icon {
        margin-right: 3px;
      }
    }

    .right {
      .content-wrapper {
        display: flex;
      }
    }

    .user-menu-trigger {
      cursor: pointer;
      margin: 0 10px;
    }
  }
}

/deep/ #user-menu-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 52px;
  line-height: 20px;
  border-bottom: 1px solid $lightBorderColor;

  .user-full-name {
    font-size: 18px;
  }
}

/deep/ .user-menu {
  min-width: 192px !important;
}
