@import "../../../styles/colors";

.app-nav-bar {
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  .wrapper {
    display: flex;
    justify-content: space-between;

    margin: auto;

    & > * {
      display: flex;
      align-items: center;
    }
    .center {
      position: absolute;
      margin-left: 50%;
      left: -(160px/2);
    }

    .right {
      .content-wrapper {
        display: flex;
      }
    }

    .user-menu-trigger {
      cursor: pointer;
      margin: 0 10px;
    }
  }
}
