<div class="follow-button-component"
     *ngIf="!authService.isMe(user)">
  <button mat-raised-button
          class="dynamic-button"
          *ngIf="!user?.following"
          (authOnlyClick)="triggerFollowUserAction()">
    Follow
  </button>
  <button class="unfollow-button"
          mat-raised-button
          *ngIf="user?.following"
          [ngClass]="{'dynamic-button-primary': !isUnfollowButtonHovered}"
          [color]="isUnfollowButtonHovered? 'warn': 'primary'"
          (mouseenter)="isUnfollowButtonHovered = true"
          (mouseleave)="isUnfollowButtonHovered = false"
          (click)="triggerUnfollowUserAction()">
    {{isUnfollowButtonHovered? 'Unfollow': 'Following'}}
  </button>
</div>
