<div>
  <mat-icon class="tweet-options"
            (click)="$event.stopPropagation()"
            [matMenuTriggerFor]="tweetOptionsMenu">
    keyboard_arrow_down
  </mat-icon>
  <mat-menu #tweetOptionsMenu
            yPosition="below"
            xPosition="before"
            [overlapTrigger]="true">
    <button mat-menu-item
            (click)="copyLinkToClipboard()">
      Copy Link to Tweet
    </button>
    <button mat-menu-item
            *ngIf="authService.getUser()?.data.id === tweet.user.id"
            (click)="showDeleteTweetDialog()">
      Delete Tweet
    </button>
  </mat-menu>
</div>
