<div class="profile-tabs-component">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab">
          <div class="name"> Tweets </div>
          <div class="count"> {{user?.tweetsCount}} </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab">
          <div class="name"> Following </div>
          <div class="count"> {{user?.followedUsersCount}} </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab">
          <div class="name"> Followers </div>
          <div class="count"> {{user?.followedByUsersCount}} </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="tab">
          <div class="name"> Likes </div>
          <div class="count"> {{user?.likesCount}} </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
