@import "../../../../../styles/colors";
@import "../../../../../styles/base";

.profile-tabs-component {
  display: flex;
  align-items: flex-end;
  height: 100%;

  .tab {
    @extend .no-select;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15px;

    .name {
      font-size: 12px;
      font-weight: 800;
      color: darken($secondaryTextColor, 30%);
    }

    .count {
      font-size: 18px;
      font-weight: bold;
      color: darken($secondaryTextColor, 30%);
    }
    &:hover .count {
      color: #1B95E0;
    }
  }
  /deep/ .mat-tab-link {
    min-width: unset;
    padding: unset;
  }
}
