<div class="profile-view">
  <div class="profile-banner-wrapper">
    <img class="profile-banner"
         src="https://pbs.twimg.com/profile_banners/2182752278/1511033434/1500x500">
  </div>
  <div class="profile-navbar">
    <div class="navbar-container large-container">
      <div class="profile-avatar-space-holder side-panel">
        <div class="profile-avatar-wrapper">
          <img class="profile-avatar"
               src="https://pbs.twimg.com/profile_images/931968026743918592/PARoJaa5_400x400.jpg">
        </div>
      </div>
      <div class="tabs center-panel">
        <app-tabs [user]="user"></app-tabs>
      </div>
      <div class="actions side-panel">
        <button mat-raised-button>
          Edit Profile
        </button>
      </div>
    </div>
  </div>
  <div class="profile-container large-container">
    <div class="left-panel side-panel">
      left panel
    </div>
    <div class="center-panel">
      <router-outlet></router-outlet>
    </div>
    <div class="right-panel side-panel">
      right panel
    </div>
  </div>
</div>
