<div class="profile-view">
  <div class="profile-banner-wrapper">
    <div class="profile-banner-empty"
         [ngStyle]="{backgroundColor: user?.profile.profileLinkColor}"
         *ngIf="!user?.profile.backgroundUrl"></div>
    <img class="profile-banner"
         *ngIf="user?.profile.backgroundUrl"
         [src]="user?.profile.backgroundUrl">
  </div>
  <div class="profile-navbar">
    <div class="navbar-container large-container">
      <div class="profile-avatar-space-holder side-panel">
        <div class="profile-avatar-wrapper">
          <img class="profile-avatar"
               [src]="user?.profile?.avatarUrl | avatarUrl">
        </div>
      </div>
      <div class="tabs center-panel">
        <app-tabs [user]="user"></app-tabs>
      </div>
      <div class="actions side-panel">
        <button mat-raised-button
                *ngIf="isProfileEditing"
                (click)="isProfileEditing = false">
          Cancel
        </button>
        <button mat-raised-button
                class="dynamic-button-primary"
                color="primary"
                *ngIf="isProfileEditing"
                (click)="updateProfile()">
          Save changes
        </button>

        <button mat-raised-button
                *ngIf="!isProfileEditing && authService.isMe(user)"
                (click)="isProfileEditing = true">
          Edit Profile
        </button>
        <app-follow-button *ngIf="!isProfileEditing"
                           [user]="user"></app-follow-button>
      </div>
    </div>
  </div>
  <div class="profile-container large-container">
    <div class="left-panel side-panel">
      <div class="module">
        <app-update-profile-form #updateProfileForm
                                 *ngIf="isProfileEditing"
                                 [user]="user"></app-update-profile-form>
        <app-user-info *ngIf="!isProfileEditing"
                       [user]="user"></app-user-info>
      </div>
    </div>
    <div class="center-panel">
      <router-outlet></router-outlet>
    </div>
    <div class="right-panel side-panel">
      <!--right panel-->
    </div>
  </div>
</div>
