@import "../../../../styles/colors";

.form-component {
  .reply-users {
    color: $secondaryTextColor;
    font-size: 14px;
    padding-bottom: 8px;
  }
  .form-buttons {
    padding-top: 8px;
  }
}
