@import "../../../../styles/colors";

.tweet-component {
  display: flex;
  margin-left: 58px;
  position: relative;

  .user-icon {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    position: absolute;
  }

  .tweet {
    line-height: 21px;
    width: 100%;

    .header {
      display: flex;

      & > *:not(:last-child) {
        padding-right: 4px;
      }
    }
    .reply-users {
      padding: 4px 0;
      color: $secondaryTextColor;
      font-size: 14px;
    }
    .content {
      margin-bottom: 8px;
    }
  }
}
