<div class="tweet-info-dialog-component">
  <div class="base-tweet">
    <app-tweet-info-block [tweet]="tweet"
                          [user]="user"
                          [replyCommentAction]="replyCommentAction.bind(this)"></app-tweet-info-block>
  </div>
  <div class="reply-form">
    <app-new-tweet-inline [inReplyToTweet]="tweet"
                          (tweetCreated)="prependItem($event)"></app-new-tweet-inline>
  </div>
  <div class="comments-list"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollDisabled]="loadingNextPage"
       [infiniteScrollThrottle]="1000"
       [infiniteScrollContainer]="'.app-custom-dialog-tweet-info .mat-dialog-container'"
       [fromRoot]="true"
       (scrolled)="requestNextPage()">
    <app-tweet-list [tweetList]="itemsList"
                    [tweetClickAction]="tweetClickAction.bind(this)"></app-tweet-list>
  </div>
  <div class="footer" *ngIf="itemsList?.length > 0">
    <div class="icon-wrapper no-select">
      <mat-icon class="icon">
        accessible
      </mat-icon>
    </div>
  </div>
</div>
