@import "../../../../../styles/colors";

.user-info-component {
  .basic-info {
    margin-bottom: 12px;
  }
  .description {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 12px;
    word-wrap: break-word;
  }
  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    color: $secondaryTextColor;

    .icon {
      font-size: 21px;
      width: 21px;
      height: 21px;
      user-select: none;
    }
    .data {
      margin-left: 5px;
    }
  }
}
