<div class="form-component">
  <h1 class="mat-h1">Join MicroTwitter Today</h1>
  <form class="form-component-content"
        [formGroup]="signupForm"
        (ngSubmit)="signup()"
        novalidate>
    <mat-form-field>
      <input matInput
             [formControlName]="'username'"
             [appAutofocus]="shouldAutofocus"
             placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [formControlName]="'email'"
             placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [formControlName]="'fullName'"
             placeholder="Full Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [formControlName]="'password'"
             type="password"
             placeholder="Password">
    </mat-form-field>
    <div class="form-buttons">
      <button mat-raised-button
              color="primary">
        Signup
      </button>
    </div>
  </form>
</div>
