.app-nav-bar {
  .wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: auto;

    & > * {
      display: flex;
      align-items: center;
    }
    .center {
      position: absolute;
      margin-left: 50%;
      left: -24px;
    }

    .right {
      .content-wrapper {
        display: flex;
      }
    }

    .user-menu-trigger {
      cursor: pointer;
      margin: 0 10px;
    }
  }
}
