<nav mat-tab-nav-bar
     class="app-nav-bar">
  <div class="wrapper global-container">
    <div class="left">
      <a mat-tab-link
         [routerLink]="['']">
        <mat-icon>
          home
        </mat-icon>
        Home
      </a>
    </div>
    <div class="center">
      <a mat-tab-link>
        <mat-icon class="no-select">
          accessible
        </mat-icon>
      </a>
    </div>
    <div class="right">
      <button mat-raised-button
              color="primary"
              (click)="login()">
        Tweet
      </button>
    </div>
  </div>
</nav>
