@import "../../../styles/colors";

.small-content-section {
  padding: 12px;
}

.medium-content-section {
  padding: 15px;
}

.new-tweet-form-wrapper {
  background-color: $tertiaryBackgroundColor;
}
