@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "colors";

.mat-autocomplete-panel {
  width: 320px;
}

.mat-dialog-container {
  max-height: 80vh !important;
}

input.mat-input-element::placeholder,
textarea.mat-input-element::placeholder{
  color: $secondaryTextColor !important;
}
