@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-autocomplete-panel {
  width: 320px;
}

.mat-dialog-container {
  max-height: 80vh !important;
}

.mat-input-element::placeholder {
  color: red;
}
