@import "colors";

html, body, textarea {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 14px;
  background-color: $defaultBackground;
  color: $primaryTextColor;
}
body {
  margin-bottom: 40px;
}

html {
  overflow-y: scroll;
}

.no-select {
  user-select: none;
}

