html, body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 16px;
}

.no-select {
  user-select: none;
}

.global-container {
  max-width: 1190px;
}
