$defaultBackground: #e6ecf0;
$white: #ffffff;

$defaultTwitterColor: #1c94e0;

$primaryTextColor: #14171a;
$secondaryTextColor: #657786;

$primaryBackgroundColor: $white;
$secondatyBackgroundColor: #f5f8fa;
