$defaultBackground: #e6ecf0;
$white: #ffffff;

$defaultTwitterColor: #1c94e0;
$defaultRedColor: #e0245e;

$primaryTextColor: #14171a;
$secondaryTextColor: #657786;

$primaryBackgroundColor: $white;
$secondaryBackgroundColor: #f5f8fa;
$tertiaryBackgroundColor: rgba(27, 149, 224, 0.1);
$lightBlueBackgroundColor: #E8F4FB;

$lightBorderColor: #e6ecf0;
$lightBlueBorderColor: #C6E4F7;
$blueBorderColor: #A3D4F2;
