@import "colors";

.app-custom-dialog {

  .mat-dialog-container {
    padding: 0;
    border-radius: 5px;
  }
  .dialog-header {
    padding: 12px;
    border-bottom: 1px solid $lightBorderColor;

    .dialog-title {
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .dialog-footer {
    padding: 12px;
    border-top: 1px solid $lightBorderColor;

    .dialog-buttons {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .dialog-button:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
}
