<div class="user-card-component">
  <div class="profile-banner-wrapper">
    <div class="profile-banner"
         [ngStyle]="{backgroundColor: user?.profile.profileLinkColor}"
         *ngIf="!user?.profile.backgroundUrl"></div>
    <img class="profile-banner"
         *ngIf="user?.profile.backgroundUrl"
         [src]="user?.profile.backgroundUrl">
  </div>
  <div class="profile-avatar-space-holder">
    <div class="profile-avatar-wrapper">
      <img class="profile-avatar"
           [src]="user?.profile.avatarUrl | avatarUrl">
    </div>
  </div>
  <div class="profile-container">
    <div class="profile-navbar">
      <div class="options-panel">
        <app-follow-button [user]="user"></app-follow-button>
      </div>
    </div>
    <div class="profile-content">
      <app-user-basic-big [user]="user"></app-user-basic-big>
      <div class="user-description">
        {{user?.profile.description}}
      </div>
    </div>
  </div>
</div>
